.emptycard {
    /* width: 16.813rem; 269px */
    height: 24rem; /*384px*/
    border: 8px solid var(--color-brand-0);
    background-color: var(--color-brand-10);
    border-radius: var(--border-radius-xl);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-s);
  }

  .pokeball2 {
    width: 160px;
    height: 160px;
    position: absolute;
  }
  