.header {
    height: 80px;
    border-bottom: 1px solid var(--color-brand-20);
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: var(--shadow-m);


}
.frame1{
    width: 920px;
    height: 44px;
    display:flex;
    justify-content: left;
    align-items: center;
    gap:12px;

}
.pokeball{
    width: 33px
}
.titulo{
    font-size: 24px;
    
}
