.buscador {
  margin: var(--spacing-4xl);
  gap: var(--spacing-m);
  display:flex;
  justify-content:center;

  
}
.bar {
  border: 1px solid var(--color-brand-30);
  width: 600px;
  height: 48px;
  border-radius: var(--border-radius-s);
  background-color: var(--color-brand-10);
  /* padding: 0px var(--spacing-m) 0px var(--spacing-m); */
  display: flex;
  align-items: center;
  gap: 16px;

}
.lupa {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 16px;
}
.text {
  width: 540px; 
  height: 46px;
  border-radius: var(--border-radius-s);
  position:absolute;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  font-family: kanit;
  color: var(--color-brand-60);
  padding-left: 58px;
}
.text:focus{
  border: 1px solid var(--color-type-accent);
  outline: none

}
.text::placeholder {
  color: var(--color-brand-60);
}
