.pokeCard {
  width: 16.813rem; /*269px*/
  height: 24rem; /*384px*/
  background-color: var(--color-type-grass);
  border-radius: var(--border-radius-xl);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-s);
}
.featuresPokemon {
  background-color: var(--color-brand-0);
  border-radius: var(--border-radius-l);
  padding: var(--spacing-s) var(--spacing-xs) var(--spacing-s) var(--spacing-xs);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.imagePokemon {
  width: 8.75rem; /*140px*/
  height: 8.75rem; /*140px*/
  margin-top: -5.938rem; /*-95px*/
  margin-left: auto;
  margin-right: auto;
}
.name {
  font-size: var(--font-size-desktop-headline);
  color: var(--color-brand-0);
  margin-top: 0rem;
  text-transform: capitalize;
}
.numeroIdPok {
  font-size: var(--font-size-desktop-subheadline);
  color: rgba(255, 255, 255, 50%);
  margin-top: 0rem;
}
.titles {
  /* height: 2rem; */
  display: flex;
  justify-content: space-between;
  padding: 0rem var(--spacing-xs) 0rem var(--spacing-xs);
  margin: 0rem;

  /* margin: 0.5rem 0rem 0rem 0rem; */

  align-items: center;
  font-weight: 600;
}

.physicalFeatures {
  display: flex;
  justify-content: center;
  gap: var(--spacing-m);
  font-size: var(--font-size-desktop-caption);
  height: 2rem;
}
.line {
  background-color: var(--color-brand-10);
  height: var(--spa);
  width: 0.063rem; /*1px*/
}

.weightIcon,
.rulerIcon {
  width: 1.25rem;
  margin-right: var(--spacing-2xs);
}
.displaygrid {
  display: grid;
  grid-template-columns: repeat(3, 285px);
  grid-gap: 32px;
}
.grid {
  max-width: fit-content;
  margin: 0 auto;
}

