.bulbasaur{
    width: 285px;
    height: 400px;
    background-color: var(--color-type-grass);
    border-radius: var(--border-radius-xl);
    padding: 8px;
}
.features{
    width: 269px;
    height: 250px;
    background-color:var(--color-brand-0);
    border-radius: var(--border-radius-l);
    padding: 12px 8px 12px 8px;
    

}
.imgbulbasaur{
    width: 140px;
    height: 140px;
    position:absolute;

}
.titles{
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 8px;
    font-weight: 600px;
    margin: 8px;

}
.name{
    font-size: var(--font-size-desktop-headline);

}
.numero{
    font-size:var(--font-size-desktop-subheadline);
}