.bulbasaur {
  width: 285px;
  height: 400px;
  background-color: var(--color-type-grass);
  border-radius: var(--border-radius-xl);
  padding: 8px;
  
}
.features {
  width: 269px;
  height: 250px;
  background-color: var(--color-brand-0);
  border-radius: var(--border-radius-l);
  padding: 12px 8px 12px 8px;
  margin-top: 102px;
  
}
.imgbulbasaur {
  width: 140px;
  height: 140px;
  position: absolute;
  margin: 50px 72px 210px 73px;
}
.name {
  font-size: var(--font-size-desktop-headline);
  color: var(--color-brand-0);
  margin: 0px;

}
.numero {
  font-size: var(--font-size-desktop-subheadline);
  color: rgba(255, 255, 255, 50%);
  margin: 0px;

}
.titles {
    display: flex;
    justify-content: space-between;
    padding: 0px var(--spacing-xs) 0px var(--spacing-xs);
    margin: 0px;
    text-align:center;
    font-weight:lighter;
    font-weight: 600;
  
  }
  
