.bulbasaur {
  width: 269px;
  height: 384px;
  background-color: var(--color-type-grass);
  border-radius: var(--border-radius-xl);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-s);
}
.features {
  background-color: var(--color-brand-0);
  border-radius: var(--border-radius-l);
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.imgbulbasaur {
  width: 140px;
  height: 140px;
  /* position: absolute; */
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;

  /* margin: 50px 72px 210px 73px; */
}
.name {
  font-size: var(--font-size-desktop-headline);
  color: var(--color-brand-0);
  margin-top: 0px;
}
.numero {
  font-size: var(--font-size-desktop-subheadline);
  color: rgba(255, 255, 255, 50%);
  margin-top: 0px;
}
.titles {
  display: flex;
  justify-content: space-between;
  padding: 0px var(--spacing-xs) 0px var(--spacing-xs);
  margin: 0px;
  align-items: center;
  font-weight: 600;
}
.tags {
  height: 20px;
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-desktop-caption);
  color: var(--color-brand-0);
}

.tag {
  background-color: var(--color-brand-20);

  padding: var(--spacing-3xs) var(--spacing-xs) var(--spacing-3xs)
    var(--spacing-xs);

  display: flex;
  align-items: center;
  gap: var(--spacing-2xs);
  border-radius: 100px;
}

.tag.grass {
  background-color: var(--color-type-grass);
}
.tag.poison {
  background-color: var(--color-type-poison);
}
.tagIcon {
  width: 16px;
  height: 16px;
}
.physicalFeatures {
  display: flex;
  justify-content: center;
  gap: var(--spacing-m);
  font-size: var(--font-size-desktop-caption);
  height: 2rem;
}
.line {
  background-color: var(--color-brand-10);
  height: var(--spa);
  width: 1px;
}

.weightIcon,
.rulerIcon {
  width: 1.25rem;
  margin-right: var(--spacing-2xs);
}
.tagPhysical {
  display: flex;
  align-items: center;
}
.lista {
  height: 6.625rem;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: var(--spacing-3xs);
  display:flex;
  flex-direction: column;
  
}
.item {
  color: var(--color-brand-30);
}
.itemList {
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 1rem;
}
.itemInfo {
  width: 51px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: var(--font-size-desktop-caption);
}
progress[value] {
  width: 12.125rem;
  height: var(--spacing-2xs);

  appearance: none;
  -webkit-appearance:none;
  -moz-appearance: none;/* APARIENCIA BARRA PROGRESO FIREFOX */

  border:none;
}
progress[value]::-webkit-progress-bar{
  background-color: var(--color-brand-10);
  border-radius: 30px;
}
progress[value]::-webkit-progress-value{
  background-color: var(--color-brand-90);
  border-radius: 30px;
}

/* APARIENCIA BARRA PROGRESO FIREFOX */
progress[value]::-moz-progress-bar{
  background-color: var(--color-brand-90);
  border-radius: 30px;
}
.progress{
  background-color: var(--color-brand-10);
  border-radius: 30px;
}
