.footer{
    height: 62px;
    width: 100%;
    background-color: var(--color-brand-90);
    color: var(--color-brand-0);
    font-size: 12px;
    font-family: kanit;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 50px;
/*     position: absolute;
 */    bottom: 0px;

}